// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  background: asset-url("football-4505650_1920.jpg") ;
  background-size:cover;
  background-position: center 60%;
  width: 100%;
}

.cantainer{
  width: 100%;
}