// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics{
  margin: 0 auto;
  text-align: center;
}

.topic{
  margin: 25px;
}

.topic-title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.margin-0auto{
  margin: 0 auto;
}

.topic-text{
  font-size: 25px; 
}

.form-group{
  
}
.form-label{
  color: rgb(1,1,1);
  font-size: 15px;
}

.form-control{
  border: 2px solid rgb(180,180,180);
  border-radius: 3px;
  margin: 15px 0 30px 0;
  padding: 10px 8px;
  font-size: 18px;
  line-height: center;
}