// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics{
  margin: 0 auto;
  text-align: center;
}

.topic{
  margin: 25px;
}

.topic-title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.margin-0auto{
  margin: 0 auto;
}

.topic-text{
  font-size: 25px; 
}