%header.navbar-fixed
  %nav
    .nav-wrapper.blue
      = link_to root_path, class: "header-left" do
        サービス
      = link_to new_user_session_path, class: "header-right" do
        ログイン
      = link_to new_user_registration_path, class: "header-right" do
        登録
